                                    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
                                    * {
                                        margin: 0;
                                        padding: 0;
                                        box-sizing: border-box;
                                        font-family: 'Roboto', sans-serif;
                                    }
                                    
                                    .main-content {
                                        margin: 2.5% 0% 0% 20%
                                    }
                                    
                                    .container {
                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;
                                        width: 80%;
                                    }
                                    
                                    .carousel {
                                        padding: 0;
                                        width: 50%;
                                        height: 70%;
                                    }
                                    
                                    .main-image-wrapper {
                                        display: inline-flex;
                                        position: relative;
                                        justify-content: space-between;
                                    }
                                    
                                    .details {
                                        width: 50%;
                                    }
                                    
                                    .carousel img {
                                        max-width: 85%;
                                    }
                                    
                                    #prev {
                                        display: inline-flex;
                                        position: absolute;
                                        z-index: 10;
                                        margin: 40% 4%;
                                        padding: 10px;
                                        border-radius: 50px;
                                        border: none;
                                    }
                                    
                                    #next {
                                        display: inline-flex;
                                        position: absolute;
                                        z-index: 10;
                                        margin: 40% 75%;
                                        padding: 10px;
                                        border-radius: 50px;
                                        border: none;
                                    }
                                    
                                    #prev:hover,
                                    #next:hover {
                                        background: rgb(172, 150, 150);
                                        color: white;
                                    }
                                    
                                    .row:after {
                                        display: table;
                                        clear: both;
                                    }
                                    
                                    .column {
                                        float: left;
                                        width: 17.5%;
                                    }
                                    
                                    .demo {
                                        opacity: 0.6;
                                        width: 100%;
                                    }
                                    
                                    .active,
                                    .demo:hover {
                                        opacity: 1;
                                    }
                                    
                                    .header {
                                        font-size: 45px;
                                        font-weight: bold;
                                        margin-bottom: 13px;
                                        font-family: 'Times New Roman', Times, serif;
                                    }
                                    
                                    .sub-header {
                                        font-size: 15px;
                                        margin: 15px 0px;
                                        font-weight: bolder
                                    }
                                    
                                    .description {
                                        max-width: 80%;
                                        font-size: 12px;
                                        margin: 18px 0px;
                                    }
                                    
                                    .checked {
                                        color: rgb(56, 241, 180);
                                    }
                                    
                                    .rating-review {
                                        font-size: 12px;
                                        margin-bottom: 3px;
                                    }
                                    
                                    .submit {
                                        font-size: 14px;
                                        color: black;
                                    }
                                    
                                    .price {
                                        font-size: 28px;
                                        margin: 20px 0px;
                                        font-weight: bold;
                                    }
                                    
                                    .status {
                                        font-size: 12px;
                                        top: 82%;
                                    }
                                    
                                    .button-group {
                                        display: flex;
                                        top: 85%;
                                    }
                                    
                                    .btn {
                                        color: white;
                                        background-color: black;
                                        margin: 3px;
                                        padding: 15px;
                                        font-style: normal;
                                        cursor: pointer;
                                        min-width: 170px;
                                        text-align: center;
                                    }
                                    
                                    .btn2 {
                                        color: black;
                                        background-color: white;
                                        margin: 3px;
                                        padding: 15px;
                                        font-style: normal;
                                        border: 1px solid black;
                                        cursor: pointer;
                                        min-width: 170px;
                                        text-align: center;
                                    }
                                    
                                    .btn:hover {
                                        background-color: rgb(222, 233, 225);
                                        color: black;
                                    }
                                    
                                    .btn2:hover {
                                        background-color: rgb(0, 0, 0);
                                        color: white;
                                    }
                                    
                                    .show-case {
                                        max-width: 100%;
                                        display: flex;
                                        margin: 5% 0%;
                                        margin-top: 8%;
                                    }
                                    
                                    .block {
                                        transition: transform .2s;
                                        font-size: 12px;
                                        color: grey;
                                        margin-right: 10%;
                                    }
                                    
                                    .block:hover {
                                        transform: scale(1.1);
                                    }
                                    
                                    .bold {
                                        font-weight: bold;
                                        font-size: 20px;
                                        color: black;
                                    }
                                    
                                    .block i {
                                        font-size: 20px;
                                        margin-bottom: 5px;
                                    }
                                    
                                    @media only screen and (max-width: 486px) {
                                        .show-case {
                                            text-align: center;
                                            flex-direction: column;
                                        }
                                        .block {
                                            width: 100%;
                                            margin: 15px 0px;
                                            flex-direction: column;
                                        }
                                        .button-group {
                                            flex-direction: column;
                                        }
                                    }
                                    
                                    @media only screen and (max-width: 1084px) {
                                        .details {
                                            padding-top: 2%;
                                        }
                                        .container {
                                            display: inline-flex;
                                            flex-direction: column;
                                            align-items: center;
                                            justify-content: center;
                                            width: 100%;
                                        }
                                        .carousel {
                                            padding: 0;
                                            width: 100%;
                                            height: 70%;
                                        }
                                        .carousel img {
                                            max-width: 100%;
                                        }
                                        .column {
                                            float: left;
                                            width: 20%;
                                        }
                                        #next {
                                            margin: 45% 88%;
                                        }
                                        #prev {
                                            margin: 45% 4%;
                                        }
                                        .main-content {
                                            margin: 5% 5%;
                                        }
                                        .details {
                                            width: 100%;
                                        }
                                    }